@tailwind base;
@tailwind components;
@tailwind utilities;
/* Importando os estilos base e os temas do slick-carousel */
/* Coloque os imports no topo do arquivo */


/* O restante do seu CSS pode vir abaixo */
body {
    margin: 0;
    padding: 0;
    background: #1e2c8a;
    background: linear-gradient(90deg, rgba(58, 51, 176) 60%, rgba(92, 60, 221) 100%, rgba(58, 51, 176) 100%);
}
